<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55748411856-l4g4kor24rmk5vkp882i3gcsn60kpe0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55748411856-l4g4kor24rmk5vkp882i3gcsn60kpe0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55748411856-612cgqrpt2v2qbak5nq0ctdpk4blqu1i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-hU1spPFrZtsEH-V-cJtw4LhQswSVOd0</string>
	<key>GCM_SENDER_ID</key>
	<string>55748411856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7aseen.threebeauty</string>
	<key>PROJECT_ID</key>
	<string>beauty-39590</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-39590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55748411856:ios:e52de12d0749307827f9d5</string>
	<key>DATABASE_URL</key>
	<string>https://beauty-39590.firebaseio.com</string>
</dict>
</plist>